li{list-style-type:none;text-align: -webkit-match-parent; }
.loginPage { margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;background-color: #FFEEFF;background-image:url(../img/banner2.jpg); }
.loginPage .reg_div{ margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 310px; height:380px;background-color: rgba(255,255,255,0.5); border-radius: 6px; box-shadow: 0 2px 2px rgba(0,0,0,0.1); }
.reg_div input { width:200px; height: 36px; margin-left: 55px; margin-top: 40px; }
.val_group { *zoom: 1; clear: both; margin-bottom: 13px; position: relative; }
.val_group:before, .val_group:after { content: ""; display: table; }
.val_group:after { clear: both; }
.val_group .val_label { float: left; text-align: right; color: #5b4d42; width: 120px; height: 32px; line-height: 32px; font-size: 14px; padding-right: 12px; }
.side_menu{width: 15%;height: 100%;border:5px solid #0066A4;background-color: #F5F5F5}
.div_content{right:0;background-color: #95bde1; top: 40px; left: 0px;bottom: 0; overflow-x: hidden;overflow-y: scroll; margin-left: 16%;margin-top: 0px;position: absolute;}
.top_bar{right:0;background-color: #217fd3; top: 0px; left: 0px;bottom:0px;margin-left: 16%;overflow-x: hidden;position: absolute;}
/*.top_bar{right:0;background-color: #BCE774; top: 0px; left: 0px;bottom: 0; margin-top: 31px;position: absolute;}*/